@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@300;400;500;700;900&display=swap');

p, label{
    font-family: 'Poppins', sans-serif;
}

h1, h2{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */