:root{
    --cor-principal: #00B2B2;
    --cor-secundaria: #CCDDDD;
    --verde-botao-menu: #4FCACA;
    --verde-botao-menu-hover: #5fdada;
    --verde-confirmar: #04D361;
    --verde-confirmar-hover: #1de276;
    --verde-escuro: #035B5B;
    --verde-escuro-hover: #218080;
    --vermelho: #FF6060;
    --vermelho-hover: #ff8b8b;
    --azul: #04AED3;
    --azul-hover: #1dc6ec;
    --branco: white;
    --cinza: #F2F2F2;
    --laranja: #ffc039;
    --laranja-hover: #ffcc5e;
}

*{
    padding: 0;
    margin: 0;
}

/* Carregamento */

#divMensagens{
    /* display: flex; */
    display: none;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.849);
    align-items: center;
    justify-content: center;
}

#divMensagens p{
    font-weight: bold;
    font-size: 30px;
    color: var(--cor-principal);
    width: 80%;
    min-width: 500px;
    text-align: center;
}
  
#divCarregamento {
    animation: rotacao 1s infinite;
    border: 10px solid transparent;
    border-radius: 50%;
    border-top-color: var(--cor-principal);
    height: 80px;
    width: 80px;
}

@keyframes rotacao {
    to {
        transform: rotate(1turn);
    }
}

/* Estilo imagem voltar */
img.voltarPagina {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 1s;
}

img.voltarPagina:hover {
    transition: 1s;
    animation: voltar 1s infinite alternate;
}

@keyframes voltar {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/* poPup de confirmacao */
.fecharConfirmar {
    animation-name: fecharConfirmar !important;
}

.containerConfirmar {
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;

    opacity: 0;
    animation-name: abrirConfirmar;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
  
.containerConfirmar .janelaConfirmar {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 300px;
    max-width: 800px;
    height: fit-content;
    background-color: var(--branco);
    padding: 40px 20px 20px 20px;
    border-radius: 10px;

    opacity: 0;
    transform: scale(0.75);
    animation-name: abrirJanelaConfirmar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
  
.containerConfirmar .janelaConfirmar .fecharJanelaConfirmar {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    height: 40px;
    width: 40px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 0 10px 0 0;
}
  
.containerConfirmar .janelaConfirmar p {
    color: var(--verde-escuro);
    font-weight: bold;
    text-align: center;
}
  
.containerConfirmar .janelaConfirmar input {
    height: 50px;
    padding: 5px;
    margin: 10px;
}
  
.containerConfirmar .janelaConfirmar .janelaConfirmarAcoes {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.containerConfirmar .janelaConfirmar .janelaConfirmarAcoes button.confirmar,
.containerConfirmar .janelaConfirmar .janelaConfirmarAcoes button.cancelar {
    border: 0;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.containerConfirmar
.janelaConfirmar
.janelaConfirmarAcoes
button.confirmar {
    background-color: var(--verde-confirmar);
}
  
.containerConfirmar
.janelaConfirmar
.janelaConfirmarAcoes
button.confirmar:hover {
    background-color: var(--verde-confirmar-hover);
    transition: 0.5s;
}
  
.containerConfirmar .janelaConfirmar .janelaConfirmarAcoes button.cancelar {
    background-color: var(--vermelho);
}
  
.containerConfirmar
.janelaConfirmar
.janelaConfirmarAcoes
button.cancelar:hover {
    background-color: var(--vermelho-hover);
    transition: 0.5s;
}
  
.containerConfirmar .janelaConfirmar .janelaConfirmarAcoes button p {
    color: white !important;
}

@keyframes abrirConfirmar {
    from {
        opacity: 0;
    } to{
        opacity: 1;
    }
}

@keyframes fecharConfirmar {
    from {
        opacity: 1;
    } to{
        opacity: 0;
    }
}

@keyframes abrirJanelaConfirmar {
    from {
        opacity: 0;
        transform: scale(1);
    } to{
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes fecharJanelaConfirmar {
    from {
        opacity: 1;
    } to{
        opacity: 0;
    }
}

/* Mensagem popup */
.mensagempopup{
    width: 300px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 10px;
    z-index: 200;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    display: flex;

    animation-name: abrirMensagemPopUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mensagempopup p{
    width: calc(100% - 50px);
    text-align: left;
    word-wrap: break-word;
    flex-wrap: nowrap;
}

button.fecharJanelaMensagemPopUp{
    top: 0;
    right: 0;
    border: 0;
    font-size: 30px;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.mensagempopup .mensagemPopUpOpcoes{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fecharMensagemPopUp{
    animation-name: fecharMensagemPopUp !important;
}

@keyframes abrirMensagemPopUp {
    from {
        opacity: 0;
        left: -500;
    } to{
        opacity: 1;
        left: 10px;
    }
}

@keyframes fecharMensagemPopUp {
    from {
        opacity: 1;
        left: 10px;
    } to{
        opacity: 0;
        left: -500;
    }
}