<div id="analisarQuestionarios">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <form action="#" id="analisarQuestionariosForm">
        <h2 id="nomeQuestionarioAnalisar">...</h2>
        <p id="descricaoQuestionarioAnalisar">...</p>
        <h2 id="tituloQuestionarioAnalisar">Questionario</h2>
        <div class="analisarQuestionariosConteudoPerguntas">
            <!-- <div class="pergunta">
                <p><img src="../../../../public/assets/Imagens/incorreto.png" class="imgAnalisarCorretoIncorreto" alt="Incorreto">1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <div class="alternativa"><img src="../../../../public/assets/Imagens/incorreto.png" class="imgAnalisarCorretoIncorreto" alt="Alternativa assinalada incorreta"><label class="alternativaIncorreta">Alternativa 1</label></div>
                <div class="alternativa"><img src="../../../../public/assets/Imagens/correto.png" class="imgAnalisarCorretoIncorreto" alt="Alternativa Correta"><label class="alterntivaCorreta">Alternativa 2</label></div>
                <div class="alternativa"><label>Alternativa 3</label></div>
                <div class="alternativa"><label>Alternativa 4</label></div>
                <div class="alternativa"><label>Alternativa 5</label></div>
            </div> -->
        </div>
        <div class="analisarQuestionariosAcoes">
            <button type="submit" id="finalizar"><p>Finalizar Revisão</p></button>
        </div>
    </form>
</div>