#cursosPrincipal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#cursosPrincipal #cursosCabecalho {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

#cursosPrincipal #cursosCabecalho h1 {
  color: var(--cor-principal);
}

#cursosPrincipal #cursosFerramentas {
  width: 100%;
  display: flex;
  justify-content: end;
}

#cursosPrincipal #cursosFerramentas h2 {
  display: flex;
  margin-right: 30px;
  font-size: 20px;
  color: var(--verde-escuro);
  cursor: pointer;
  transition: 0.5s;
  margin: 0 30px 30px 0;
}

#cursosPrincipal #cursosFerramentas h2:hover {
  color: var(--verde-escuro-hover);
  transition: 0.5s;
}

#cursosPrincipal #cursosConteudo {
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#cursosPrincipal #cursosConteudo .cursosCartao {
  width: 270px;
  height: auto;
  /* min-height: 300px; */
  background-color: var(--branco);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: 70px 20px;
  padding: 20px;
}

#cursosPrincipal
  #cursosConteudo
  .cursosCartao
  .cursosNomeCartao {
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
  word-wrap: break-word;
}

#cursosPrincipal
  #cursosConteudo
  .cursosCartao
  .cursosImagemCartao {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  top: -50px;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursosPrincipal
  #cursosConteudo
  .cursosCartao
  .cursosImagemCartao
  img {
  height: 100px;
  width: 100px;
}

#cursosPrincipal .cursosCartao .cursosConteudoCartao {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosEstados {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 15px 0;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosEstados
  img, #cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosEstados div img {
  height: 35px;
  width: 35px;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosEstados div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosEstados img {
  cursor: pointer;
  transition: 0.5s;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosEstados img:hover {
      transform: scale(1.5);
    transition: 0.5s;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button {
  height: 45px;
  padding: 10px 15px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button
  img {
  height: 25px;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button.cursosAbrir {
  background-color: var(--verde-confirmar);
  min-width: 70px !important;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button.cursosAbrir:hover {
  background-color: var(--verde-confirmar-hover);
  transition: 0.5s;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button.cursosAbrir
  p {
  font-weight: bold;
  color: white;
  font-size: 17px;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button.cursosEditar {
  background-color: var(--azul);
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button.cursosEditar:hover {
  background-color: var(--azul-hover);
  transition: 0.5s;
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button.cursosDeletar {
  background-color: var(--vermelho);
}

#cursosPrincipal
  .cursosCartao
  .cursosConteudoCartao
  .cursosCartaoOpcoes
  button.cursosDeletar:hover {
  background-color: var(--vermelho-hover);
  transition: 0.5s;
}