#meuscursosEditar {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var(--cor-secundaria);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  #meuscursosEditar #meuscursosEditarForm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 300px;
    height: fit-content;
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
  }
  
  #meuscursosEditar #meuscursosEditarForm h2 {
    color: var(--verde-escuro);
  }
  
  #meuscursosEditar #meuscursosEditarForm p {
    color: var(--verde-escuro);
    font-weight: bold;
  }
  
  #meuscursosEditar #meuscursosEditarForm input {
    padding: 0 15px;
    font-size: 15px;
    height: 50px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f2f2f2;
  }

  #meuscursosEditar #meuscursosEditarForm input[name=idCurso] {
    display: none;
  }
  
  #meuscursosEditar #meuscursosEditarForm textarea {
    padding: 15px;
    font-size: 15px;
    height: 300px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f2f2f2;
    resize: none;
  }
  
  #meuscursosEditar #meuscursosEditarForm .meuscursosEditarAcoes {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  #meuscursosEditar #meuscursosEditarForm .meuscursosEditarAcoes button,
  #meuscursosEditar
    #meuscursosEditarForm
    .meuscursosEditarAcoes
    div#cancelar {
    border: 0;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #meuscursosEditar
    #meuscursosEditarForm
    .meuscursosEditarAcoes
    button#editar {
    background-color: var(--azul);
  }
  
  #meuscursosEditar
    #meuscursosEditarForm
    .meuscursosEditarAcoes
    button#editar:hover {
    background-color: var(--azul-hover);
    transition: 0.5s;
  }
  
  #meuscursosEditar
    #meuscursosEditarForm
    .meuscursosEditarAcoes
    div#cancelar {
    background-color: var(--vermelho);
  }
  
  #meuscursosEditar
    #meuscursosEditarForm
    .meuscursosEditarAcoes
    div#cancelar:hover {
    background-color: var(--vermelho-hover);
    transition: 0.5s;
  }
  
  #meuscursosEditar
    #meuscursosEditarForm
    .meuscursosEditarAcoes
    button
    p,
  #meuscursosEditar
    #meuscursosEditarForm
    .meuscursosEditarAcoes
    div#cancelar
    p {
    color: white !important;
  }