#meuscursosPrincipal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#meuscursosPrincipal #meuscursosCabecalho {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

#meuscursosPrincipal #meuscursosCabecalho h1 {
  color: var(--cor-principal);
}

#meuscursosPrincipal #meuscursosFerramentas {
  width: 100%;
  display: flex;
  justify-content: end;
}

#meuscursosPrincipal #meuscursosFerramentas h2 {
  display: flex;
  margin-right: 30px;
  font-size: 20px;
  color: var(--verde-escuro);
  cursor: pointer;
  transition: 0.5s;
  margin: 0 30px 30px 0;
}

#meuscursosPrincipal #meuscursosFerramentas h2:hover {
  color: var(--verde-escuro-hover);
  transition: 0.5s;
}

#meuscursosPrincipal #meuscursosConteudo {
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#meuscursosPrincipal #meuscursosConteudo .meuscursosCartao {
  width: 270px;
  height: auto;
  /* min-height: 300px; */
  background-color: var(--branco);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: 70px 20px;
  padding: 20px;
}

#meuscursosPrincipal
  #meuscursosConteudo
  .meuscursosCartao
  .meuscursosNomeCartao {
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
  word-wrap: break-word;
}

#meuscursosPrincipal
  #meuscursosConteudo
  .meuscursosCartao
  .meuscursosImagemCartao {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  top: -50px;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#meuscursosPrincipal
  #meuscursosConteudo
  .meuscursosCartao
  .meuscursosImagemCartao
  img {
  height: 100px;
  width: 100px;
}

#meuscursosPrincipal .meuscursosCartao .meuscursosConteudoCartao {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosEstados {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 15px 0;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosEstados
  img {
  height: 35px;
  width: 35px;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosEstados
  img + img {
  cursor: pointer;
  transition: 0.5s;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosEstados
  img + img:hover {
      transform: scale(1.5);
    transition: 0.5s;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button {
  height: 45px;
  padding: 10px 15px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button
  img {
  height: 25px;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button.meuscursosAbrir {
  background-color: var(--verde-confirmar);
  min-width: 70px !important;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button.meuscursosAbrir:hover {
  background-color: var(--verde-confirmar-hover);
  transition: 0.5s;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button.meuscursosAbrir
  p {
  font-weight: bold;
  color: white;
  font-size: 17px;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button.meuscursosEditar {
  background-color: var(--azul);
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button.meuscursosEditar:hover {
  background-color: var(--azul-hover);
  transition: 0.5s;
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button.meuscursosDeletar {
  background-color: var(--vermelho);
}

#meuscursosPrincipal
  .meuscursosCartao
  .meuscursosConteudoCartao
  .meuscursosCartaoOpcoes
  button.meuscursosDeletar:hover {
  background-color: var(--vermelho-hover);
  transition: 0.5s;
}