#meusquestionariosPrincipal {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #meusquestionariosPrincipal #meusquestionariosCabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  
  #meusquestionariosPrincipal #meusquestionariosCabecalho h1 {
    color: var(--cor-principal);
  }
  
  #meusquestionariosPrincipal #meusquestionariosFerramentas {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  #meusquestionariosPrincipal #meusquestionariosFerramentas h2 {
    display: flex;
    margin-right: 30px;
    font-size: 20px;
    color: var(--verde-escuro);
    cursor: pointer;
    transition: 0.5s;
    margin: 0 30px 30px 0;
  }
  
  #meusquestionariosPrincipal #meusquestionariosFerramentas h2:hover {
    color: var(--verde-escuro-hover);
    transition: 0.5s;
  }
  
  #meusquestionariosPrincipal #meusquestionariosConteudo {
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #meusquestionariosPrincipal #meusquestionariosConteudo .meusquestionariosCartao {
    width: 270px;
    height: auto;
    /* min-height: 300px; */
    background-color: var(--branco);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin: 70px 20px;
    padding: 20px;
  }
  
  #meusquestionariosPrincipal
    #meusquestionariosConteudo
    .meusquestionariosCartao
    .meusquestionariosNomeCartao {
    width: 100%;
    text-align: center;
    flex-wrap: nowrap;
    word-wrap: break-word;
  }
  
  #meusquestionariosPrincipal
    #meusquestionariosConteudo
    .meusquestionariosCartao
    .meusquestionariosImagemCartao {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: -50px;
    border-radius: 50%;
    background-color: rgb(209, 209, 209);
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #meusquestionariosPrincipal
    #meusquestionariosConteudo
    .meusquestionariosCartao
    .meusquestionariosImagemCartao
    img {
    height: 100px;
    width: 100px;
  }
  
  #meusquestionariosPrincipal .meusquestionariosCartao .meusquestionariosConteudoCartao {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosEstados {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 15px 0;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosEstados
    img {
    height: 35px;
    width: 35px;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosEstados
    img + img {
    cursor: pointer;
    transition: 0.5s;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosEstados
    img + img:hover {
        transform: scale(1.5);
      transition: 0.5s;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button {
    height: 45px;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 10px;
    flex: 1;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button
    img {
    height: 25px;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button.meusquestionariosAbrir {
    background-color: var(--verde-confirmar);
    min-width: 70px !important;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button.meusquestionariosAbrir:hover {
    background-color: var(--verde-confirmar-hover);
    transition: 0.5s;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button.meusquestionariosAbrir
    p {
    font-weight: bold;
    color: white;
    font-size: 17px;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button.meusquestionariosEditar {
    background-color: var(--azul);
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button.meusquestionariosEditar:hover {
    background-color: var(--azul-hover);
    transition: 0.5s;
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button.meusquestionariosDeletar {
    background-color: var(--vermelho);
  }
  
  #meusquestionariosPrincipal
    .meusquestionariosCartao
    .meusquestionariosConteudoCartao
    .meusquestionariosCartaoOpcoes
    button.meusquestionariosDeletar:hover {
    background-color: var(--vermelho-hover);
    transition: 0.5s;
  }