<div id="meusquestionariosPrincipal">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <div id="meusquestionariosCabecalho"><h1>Questionarios</h1></div>
    <div id="meusquestionariosFerramentas">
        <h2 id="bttCadastrarNovoCurso">+ Novo Questionario</h2>
    </div>
    <div id="meusquestionariosConteudo">
        
                <!-- Template cartao -->
            <!-- <div class="meusquestionariosCartao">
            <div class="meusquestionariosImagemCartao">
                <img src="../../public/assets/Imagens/Alfabeto/0cc175b9c0f1b6a831c399e269772661.png" alt="A">
            </div>
            <div class="meusquestionariosConteudoCartao">
                <h2 class="meusquestionariosNomeCartao">Questionario 1</h2>
                <div class="meusquestionariosEstados">
                    <img src="../../public/assets/Imagens/Icone-publico.svg" alt="Questionario publico">
                    <img src="../../public/assets/Imagens/Icone-oculto.svg" alt="Questionario oculto">
                </div>
                <div class="meusquestionariosCartaoOpcoes">
                    <button class="meusquestionariosAbrir">
                        <p>Abrir</p>
                    </button>
                    <button class="meusquestionariosEditar">
                        <img src="../../public/assets/Imagens/Icone-editar-branco.svg" alt="Editar">
                    </button>
                    <button class="meusquestionariosDeletar">
                        <img src="../../public/assets/Imagens/Icone-deletar.svg" alt="Deletar">
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>