<div id="revisaoQuestionarios">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <form action="#" id="revisaoQuestionariosForm">
        <h2 id="nomeQuestionarioRevisao">...</h2>
        <p id="descricaoQuestionarioRevisao">...</p>
        <p id="notaQuestionarioRevisao">...</p>
        <p id="dataQuestionarioRevisao">...</p>
        <p id="horaQuestionarioRevisao">...</p>
        <p id="qtdeAcertosQuestionarioRevisao">...</p>
        <p id="qtdeErrosQuestionarioRevisao">...</p>
        <h2 id="tituloQuestionarioRevisao">Questionario</h2>
        <div class="revisaoQuestionariosConteudoPerguntas">
            <!-- <div class="pergunta">
                <p><img src="../../../../public/assets/Imagens/incorreto.png" class="imgRevisaoCorretoIncorreto" alt="Incorreto">1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <div class="alternativa"><img src="../../../../public/assets/Imagens/incorreto.png" class="imgRevisaoCorretoIncorreto" alt="Alternativa assinalada incorreta"><label class="alternativaIncorreta">Alternativa 1</label></div>
                <div class="alternativa"><img src="../../../../public/assets/Imagens/correto.png" class="imgRevisaoCorretoIncorreto" alt="Alternativa Correta"><label class="alterntivaCorreta">Alternativa 2</label></div>
                <div class="alternativa"><label>Alternativa 3</label></div>
                <div class="alternativa"><label>Alternativa 4</label></div>
                <div class="alternativa"><label>Alternativa 5</label></div>
            </div> -->
        </div>
        <div class="revisaoQuestionariosAcoes">
            <button type="submit" id="finalizar"><p>Finalizar Revisao</p></button>
        </div>
    </form>
</div>