<div id="principalRequisicoesAluno">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <div class="cabecalho"><h1>Cursos</h1></div>
    <div class="conteudoCartao" id="conteudoCartaoCursos">
        <p>Nenhuma requisição de curso encontrado!</p>
    </div>
    <div class="cabecalho"><h1>Materias</h1></div>
    <div class="conteudoCartao" id="conteudoCartaoMaterias">
        <p>Nenhuma requisição de matéria encontrada!</p>
    </div>
    <div class="cabecalho"><h1>Questionarios</h1></div>
    <div class="conteudoCartao" id="conteudoCartaoQuestionarios">
        <p>Nenhuma requisição de questionario encontrado!</p>
    </div>
</div>