<div id="principalRequisicoesAdm">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <div id="conteudoRequisicoes">
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Cursos</th>
                    <th>Materias</th>
                    <th>Questionarios</th>
                    <th>Data Curso</th>
                    <th>Data Materia</th>
                    <th>Data Questionario</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr class="cinza">
                    <td>aluno</td>
                    <td>data</td>
                    <td>hora</td>
                    <td>cursos</td>
                    <td>materias</td>
                    <td>questionarios</td>
                    <td><button><p>Revisao</p></button></td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>