<div id="principalRelatorio">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <div id="relatorioCabecalho"><h1>Relatório</h1></div>
    <div id="conteudoRelatorio">
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Tentativa</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Acertos</th>
                    <th>Erros</th>
                    <th>Nota</th>
                    <th>Revisao</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>