<div id="minhasmateriasCadastrar">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <form action="#" id="minhasmateriasCadastrarForm">
        <h2>Dados da materia</h2>
        <label for="Nomemateria"><p>Nome da materia</p></label>
        <input type="text" name="Nomemateria" required>
        <label for="Descricao"><p>Descrição</p></label>
        <textarea name="descricao" id="descricao" cols="30" rows="10" required></textarea>
        <div class="minhasmateriasCadastrarAcoes">
            <button type="submit" id="cadastrar"><p>Cadastrar</p></button>
        </div>
    </form>
</div>