<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../public/styles/gerais.css">
    <script src="../../public/scripts/gerais.js"></script>
    <link rel="stylesheet" href="../../public/styles/fontes.css">
    
    <link rel="stylesheet" href="../../public/styles/cadastrarUsuario.css">
    <script src="../../variaveisGlobais.js"></script>
    <script src="../../public/scripts/cadastrarUsuario.js"></script>
</head>
<body>
    <div id="divMensagens"></div>
    <div id="principal">
        <div id="cabecalho">
            <h1>Cadastro de usuario</h1>
        </div>
        <div id="conteudo">
            <form action="#">
                <h2>Seus dados</h2>

                <label for="nome">Nome Completo*</label>
                <input type="text" name="nome" id="nomeCompleto" required>

                <div class="grupo">
                    <div>
                        <label for="email">Email (Terminado em '.com')*</label>
                        <input type="email" name="email" id="email" required>
                        <p id="mensagemInputEmail">email ja esta em uso</p>
                    </div>
                    <div id="statusValidando">
                        <label for="verificar" id="labelStatus">⌛</label>
                        <div id="status"><p>⌛</p></div>
                    </div>
                    <div id="containerBttConfirmarEmail">
                        <label for="verificar">⌛</label>
                        <div id="bttConfirmarEmail"><p>Confirmar</p></div>
                    </div>
                </div>
                
                <div class="codigo">
                    <label for="codigo">Código*</label>
                    <input type="text" name="codigo" id="codigo">
                </div>

                <label for="senha">Senha*</label>
                <input type="password" name="senha" id="senha" required>

                <label>Foto</label>
                <div id="containerArquivo">
                    <input type="file" name="foto" id="foto">
                    <div id="nomeArquivo"></div>
                    <label for="foto"><p>Selecionar</p></label>
                </div>
                
                <div id="opcoes">
                    <button id="bttCadastrar"><p>Cadastrar</p></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>