<link rel="stylesheet" href="../../public/styles/meusquestionarioscadastrar.css">
<div id="meusquestionariosCadastrar">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <form action="#" id="meusquestionariosCadastrarForm">
        <div class="dadosPerguntas">
            <h2>Dados do questionario</h2>
            <p class="caminhoCadastrarQuestionario"></p>
        </div>
        <label for="Nomemateria"><p>Nome do Questionario</p></label>
        <input type="text" name="Nomemateria" required>
        <label for="Descricao"><p>Descrição</p></label>
        <textarea name="descricao" id="descricao" cols="30" rows="10" required></textarea>
        <div class="dadosPerguntas">
            <h2>Dados das perguntas</h2>
            <h2 class="bttCadastrarNovaPergunta">+ Nova Pergunta</h2>
        </div>
        <div class="meusquestionariosConteudoPerguntas">
            <!-- <div class="mostraPergunta">
                <hr>
                <p class="textoPerguntaMostrar" style="font-size: 20px;">1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. </p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <p style="color: green; font-weight: bold;">C - Lorem ipsum dolor sit amet.</p>
                <div class="opcoesMostrarPerguntas">
                    <button class="meusquestionariosPerguntaEditar">
                        <img src="../../public/assets/Imagens/Icone-editar-branco.svg" alt="Editar">
                    </button>
                    <button class="meusquestionariosPerguntaDeletar">
                        <img src="../../public/assets/Imagens/Icone-deletar.svg" alt="Deletar">
                    </button>
                </div>
            </div>
            <div class="mostraPergunta">
                <hr>
                <p class="textoPerguntaMostrar" style="font-size: 20px;">1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. </p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <p style="color: green; font-weight: bold;">C - Lorem ipsum dolor sit amet.</p>
                <div class="opcoesMostrarPerguntas">
                    <button class="meusquestionariosPerguntaEditar">
                        <img src="../../public/assets/Imagens/Icone-editar-branco.svg" alt="Editar">
                    </button>
                    <button class="meusquestionariosPerguntaDeletar">
                        <img src="../../public/assets/Imagens/Icone-deletar.svg" alt="Deletar">
                    </button>
                </div>
            </div>
            <div class="mostraPergunta">
                <hr>
                <p class="textoPerguntaMostrar" style="font-size: 20px;">1) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. </p>
                <p>X - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque diam, lobortis a ullamcorper a, hendrerit ut libero. Donec velit nibh, mattis eu lacus nec, molestie interdum nibh. Nulla molestie erat ut luctus condimentum.</p>
                <p style="color: green; font-weight: bold;">C - Lorem ipsum dolor sit amet.</p>
                <div class="opcoesMostrarPerguntas">
                    <button class="meusquestionariosPerguntaEditar">
                        <img src="../../public/assets/Imagens/Icone-editar-branco.svg" alt="Editar">
                    </button>
                    <button class="meusquestionariosPerguntaDeletar">
                        <img src="../../public/assets/Imagens/Icone-deletar.svg" alt="Deletar">
                    </button>
                </div>
            </div> -->
        </div>
        <div class="meusquestionariosCadastrarAcoes">
            <button type="submit" id="cadastrar"><p>Cadastrar</p></button>
        </div>
    </form>
</div>