<link rel="stylesheet" href="../../public/styles/editarMateria.css">
<div id="minhasmateriasEditar">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <form action="#" id="minhasmateriasEditarForm">
        <h2>Dados da materia</h2>
        <label for="Nome do curso"><p>Nome da materia</p></label>
        <input type="text" name="Nome do curso" required>
        <input type="text" name="idMateria" required>
        <label for="Descricao"><p>Descrição</p></label>
        <textarea name="descricao" id="descricao" cols="30" rows="10" required></textarea>
        <div class="minhasmateriasEditarAcoes">
            <button type="submit" id="editar"><p>Editar</p></button>
        </div>
    </form>
</div>