<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../public/styles/gerais.css">
    <script src="../../public/scripts/gerais.js"></script>

    <link rel="stylesheet" href="../../public/styles/fontes.css">
    <link rel="stylesheet" href="../../public/styles/login.css">
    <script src="../../variaveisGlobais.js"></script>
    <script src="../../public/scripts/login.js"></script>
</head>
<body>
    <div id="divMensagens"></div>
    <div id="principal">
        <div id="cabecalho">
            <h1>Login</h1>
        </div>
        <div id="conteudo">
            <form action="#">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>

                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" required>

                <div id="opcoes">
                    <button id="bttEntrar"><p>Entrar</p></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>