<link rel="stylesheet" href="../../public/styles/minhasmaterias.css">
<div id="minhasmateriasPrincipal">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <div id="minhasmateriasCabecalho"><h1>Materias</h1></div>
    <div id="minhasmateriasFerramentas">
        <h2 id="bttCadastrarNovoCurso">+ Nova Materia</h2>
    </div>
    <div id="minhasmateriasConteudo">
        <!--
                Template Cartao Materia 
            <div class="minhasmateriasCartao">
            <div class="minhasmateriasImagemCartao">
                <img src="../../public/assets/Imagens/Alfabeto/0cc175b9c0f1b6a831c399e269772661.png" alt="A">
            </div>
            <div class="minhasmateriasConteudoCartao">
                <h2 class="minhasmateriasNomeCartao">Organização de computadores</h2>
                <div class="minhasmateriasEstados">
                    <img src="../../public/assets/Imagens/Icone-publico.svg" alt="Materia publico">
                    <img src="../../public/assets/Imagens/Icone-oculto.svg" alt="Materia oculto">
                </div>
                <div class="minhasmateriasCartaoOpcoes">
                    <button class="minhasmateriasAbrir">
                        <p>Abrir</p>
                    </button>
                    <button class="minhasmateriasEditar">
                        <img src="../../public/assets/Imagens/Icone-editar-branco.svg" alt="Editar">
                    </button>
                    <button class="minhasmateriasDeletar">
                        <img src="../../public/assets/Imagens/Icone-deletar.svg" alt="Deletar">
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</div>