#principal{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#principal #cabecalho{
    width: 100%;
    height: 25%;
    background-color: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#principal #conteudo{
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-secundaria);
}

#principal #conteudo form{
    position: absolute;
    top: -50px;
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    width: 40%;
    min-width: 500px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px 30px;
}

#principal #conteudo form .grupo{
    display: flex;
    width: 100%;
}

#principal #conteudo form .grupo div{
    display: flex;
    flex-direction: column;
}

#principal #conteudo form .grupo div:first-child{
    width: calc(100% - 100px);
}

#principal #conteudo form .grupo div:first-child input{
    justify-content: end;
    border-radius: 5px 0 0 5px !important;
}

#principal #conteudo form .grupo div:last-child div{
    justify-content: end;
    transition: 0.5s;
    border-radius: 0 5px 5px 0 !important;
    background-color: var(--laranja);
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.507);
    border-left: none;
    box-sizing: border-box;
}

#principal #conteudo form #statusValidando div {
    justify-content: end;
    transition: 0.5s;
    border-radius: 0 5px 5px 0 !important;
    background-color: var(--laranja);
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: 0.5px solid rgba(0, 0, 0, 0.507);
    border-left: none;
    box-sizing: border-box;
}

#principal #conteudo form #statusValidando{
    display: none;
    justify-content: end;
}

#principal #conteudo form .codigo{
    display: none;
    flex-direction: column;
    width: 100%;
}

#principal #conteudo form .grupo div:last-child div:hover{
    transition: 0.5s;
    background-color: var(--laranja-hover)
}

#principal #conteudo form h2{
    padding: 10px 0;
    color: var(--verde-escuro);
}

#principal #conteudo form label:not(#containerArquivo label){
    font-weight: bold;
    color: var(--verde-escuro);
    margin-top: 10px;
}

#principal #conteudo form input{
    height: 50px;
    background-color: var(--cinza);
    border: 0.5px solid rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    font-size: 15px;
    padding: 0 15px;
}

#principal #conteudo form #bttCadastrar{
    height: 50px;
    background-color: var(--verde-confirmar);
    border: 0;
    border-radius: 5px;
    color: white;
    width: min-content;
    padding: 0 15px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px 0;
}

#principal #conteudo form #bttCadastrar:hover{
    background-color: var(--verde-confirmar-hover);
    transition: 0.5s;
}

#principal #conteudo form #bttCadastrar p{
    font-size: 20px;
}

#principal #conteudo form #opcoes{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#principal #conteudo form #containerArquivo{
    display: flex;
    height: 50px;
}

#principal #conteudo form #nomeArquivo{
    flex: 1;
    height: 50px;
    background-color: var(--cinza);
    border: 0.5px solid rgba(0, 0, 0, 0.507);
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    padding: 0 15px;
    overflow: hidden;
    border-right: none;
    display: flex;
    align-items: center;
    text-align: left;
}

#principal #conteudo form input[type='file'] {
    display: none;
}

#principal #conteudo form label[for=foto] {
    cursor: pointer;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    border-radius: 0 5px 5px 0;
    border: 0.5px solid rgba(0, 0, 0, 0.507);
    transition: 0.5s;
}

#principal #conteudo form label[for=foto]:hover {
    transition: 0.5s;
    background-color: rgb(233, 233, 233);
}

#principal #conteudo form label[for=foto] p {
    font-weight: bold;
}

#principal #conteudo form #mensagemInputEmail {
    color: red;
    display: none;
}
