#minhasmateriasPrincipal {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  #minhasmateriasPrincipal #minhasmateriasCabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  
  #minhasmateriasPrincipal #minhasmateriasCabecalho h1 {
    color: var(--cor-principal);
  }
  
  #minhasmateriasPrincipal #minhasmateriasFerramentas {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  #minhasmateriasPrincipal #minhasmateriasFerramentas h2 {
    display: flex;
    margin-right: 30px;
    font-size: 20px;
    color: var(--verde-escuro);
    cursor: pointer;
    transition: 0.5s;
    margin: 0 30px 30px 0;
  }
  
  #minhasmateriasPrincipal #minhasmateriasFerramentas h2:hover {
    color: var(--verde-escuro-hover);
    transition: 0.5s;
  }
  
  #minhasmateriasPrincipal #minhasmateriasConteudo {
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #minhasmateriasPrincipal #minhasmateriasConteudo .minhasmateriasCartao {
    width: 270px;
    height: auto;
    /* min-height: 300px; */
    background-color: var(--branco);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin: 70px 20px;
    padding: 20px;
  }
  
  #minhasmateriasPrincipal
    #minhasmateriasConteudo
    .minhasmateriasCartao
    .minhasmateriasNomeCartao {
    width: 100%;
    text-align: center;
    flex-wrap: nowrap;
    word-wrap: break-word;
  }
  
  #minhasmateriasPrincipal
    #minhasmateriasConteudo
    .minhasmateriasCartao
    .minhasmateriasImagemCartao {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    top: -50px;
    border-radius: 50%;
    background-color: rgb(209, 209, 209);
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #minhasmateriasPrincipal
    #minhasmateriasConteudo
    .minhasmateriasCartao
    .minhasmateriasImagemCartao
    img {
    height: 100px;
    width: 100px;
  }
  
  #minhasmateriasPrincipal .minhasmateriasCartao .minhasmateriasConteudoCartao {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasEstados {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 15px 0;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasEstados
    img {
    height: 35px;
    width: 35px;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasEstados
    img + img {
    cursor: pointer;
    transition: 0.5s;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasEstados
    img + img:hover {
        transform: scale(1.5);
      transition: 0.5s;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button {
    height: 45px;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 10px;
    flex: 1;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button
    img {
    height: 25px;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button.minhasmateriasAbrir {
    background-color: var(--verde-confirmar);
    min-width: 70px !important;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button.minhasmateriasAbrir:hover {
    background-color: var(--verde-confirmar-hover);
    transition: 0.5s;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button.minhasmateriasAbrir
    p {
    font-weight: bold;
    color: white;
    font-size: 17px;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button.minhasmateriasEditar {
    background-color: var(--azul);
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button.minhasmateriasEditar:hover {
    background-color: var(--azul-hover);
    transition: 0.5s;
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button.minhasmateriasDeletar {
    background-color: var(--vermelho);
  }
  
  #minhasmateriasPrincipal
    .minhasmateriasCartao
    .minhasmateriasConteudoCartao
    .minhasmateriasCartaoOpcoes
    button.minhasmateriasDeletar:hover {
    background-color: var(--vermelho-hover);
    transition: 0.5s;
  }