<div id="meuscursosCadastrar">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <form action="#" id="meuscursosCadastrarForm">
        <h2>Dados do curso</h2>
        <label for="Nomecurso"><p>Nome do curso</p></label>
        <input type="text" name="Nomecurso" required>
        <label for="Descricao"><p>Descrição</p></label>
        <textarea name="descricao" id="descricao" cols="30" rows="10" required></textarea>
        <div class="meuscursosCadastrarAcoes">
            <button type="submit" id="cadastrar"><p>Cadastrar</p></button>
        </div>
    </form>
</div>