<div id="meuscursosEditar">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <form action="#" id="meuscursosEditarForm">
        <h2>Dados do curso</h2>
        <label for="Nome do curso"><p>Nome do curso</p></label>
        <input type="text" name="Nome do curso" required>
        <input type="text" name="idCurso" required>
        <label for="Descricao"><p>Descrição</p></label>
        <textarea name="descricao" id="descricao" cols="30" rows="10" required></textarea>
        <div class="meuscursosEditarAcoes">
            <button type="submit" id="editar"><p>Editar</p></button>
        </div>
    </form>
</div>