<div id="cursosPrincipal">
    <div id="cursosCabecalho"><h1>Cursos</h1></div>
    <div id="cursosConteudo">
                
            <!-- Template cartao
            <div class="cursosCartao">
            <div class="cursosImagemCartao">
                <img src="../../public/assets/Imagens/Alfabeto/0cc175b9c0f1b6a831c399e269772661.png" alt="Letra A">
            </div>
            <div class="cursosConteudoCartao">
                <h2 class="cursosNomeCartao">ADS</h2>
                <div class="cursosEstados">
                    <img src="../../public/assets/Imagens/Icone-publico.svg" alt="Curso publico">
                    <img src="../../public/assets/Imagens/Icone-oculto.svg" alt="Curso oculto">
                </div>
                <div class="cursosCartaoOpcoes">
                    <button class="cursosAbrir">
                        <p>Abrir</p>
                    </button>
                    <button class="cursosEditar">
                        <img src="../../public/assets/Imagens/Icone-editar-branco.svg" alt="Editar">
                    </button>
                    <button class="cursosDeletar">
                        <img src="../../public/assets/Imagens/Icone-deletar.svg" alt="Deletar">
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>