<div id="questionariosPrincipal">
    <img id="voltarPagina" class="voltarPagina" src="../../public/assets/Imagens/icone-voltar.svg" alt="Voltar">
    <div id="questionariosCabecalho"><h1>Questionarios</h1></div>
    <div id="questionariosConteudo">
        
                <!-- Template cartao -->
            <!-- <div class="questionariosCartao">
            <div class="questionariosImagemCartao">
                <img src="../../public/assets/Imagens/Alfabeto/0cc175b9c0f1b6a831c399e269772661.png" alt="A">
            </div>
            <div class="questionariosConteudoCartao">
                <h2 class="questionariosNomeCartao">Questionario 1</h2>
                <div class="questionariosEstados">
                    <img src="../../public/assets/Imagens/Icone-publico.svg" alt="Questionario publico">
                    <img src="../../public/assets/Imagens/Icone-oculto.svg" alt="Questionario oculto">
                </div>
                <div class="questionariosCartaoOpcoes">
                    <button class="questionariosAbrir">
                        <p>Abrir</p>
                    </button>
                    <button class="questionariosEditar">
                        <img src="../../public/assets/Imagens/Icone-editar-branco.svg" alt="Editar">
                    </button>
                    <button class="questionariosDeletar">
                        <img src="../../public/assets/Imagens/Icone-deletar.svg" alt="Deletar">
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>